node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env

logs
*.log
*.log.*
.DS_Store
.vscode/
.idea/
dist/
public/assets/**/*.js
public/assets/**/*.js.map
public/assets/**/*.d.ts

# Keep CSS asset tracked (source lives in public/assets)
.rollup.cache
*.tsbuildinfo
